@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


    <div class="row">
        <h2 class="text-danger">处理任务时，发现错误</h2>

        <p>
            <code>@Model.errofInfo</code>
        </p>
    </div>

